
body {
    font-size: 1.3em;
    font-family: "Georgia", "Helvetica", "Arial", sans-serif;
    line-height: 2;
    color: #1a0000;
    background: #fff5e6;
    margin: 0;
}

.main {
    width: 80%;
    max-width: 28em;
    margin: 0 auto;
    position: relative;
    padding-right: 250px;
}

.footer-wrap {}

footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 80%;
    max-width: 28em;
    /* top right bottom left */
    margin: 5em auto 4em auto;
    padding-right: 250px;
}

footer #lambda {
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
}

.footer-info { }

a {
    color: #b30000;
    text-decoration: none;
    background-position: 0 1em;
    background-repeat: repeat-x;
    background-size: 32px 1px;
    background-image: linear-gradient(rgba(179,0,0,.2),rgba(179,0,0,.2));
}

a:visited {
    color: #660000;
}

footer p {
    margin: 0;
}

.note-num {
    font-size: 0.75em;
}

.note-body {
    display: inline;
    width: 200px;
    float: right;
    clear: right;
    color: #656565;
    font-size: 0.75em;
    margin-right: -20em;
    margin-bottom: 1em;
}

h1, h2, h3 {
    color: #000;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    margin:  2em 0;
    padding-top: 1em;
    font-size: 1.6em;
}

hr {
    margin: 3em auto;
    border: 0;
    border-top: 1px solid #8c8b8b;
    text-align: center;
    height: 1px;
    overflow: visible;
}

hr::after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -13px;
    line-height: 22px;
    background: #fff5e6;
    color: #8c8b8b;
    font-size: 21px;
    height: 26px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

hr.small {
    width: 50%;
}


li::before {
    content: "◊";
    color: #b36b00;
    width: 1em;
    margin-left: -1em;
    float: left;
}

li {
    list-style-type: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

h3 {
    margin-top: 3em;
    margin-bottom: 2em;
}

.linenos {}

.hidden { display: none; }

td.code {
    background-color: #fafad2;
    padding-left: .5em;
    width: 100%;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #AA22FF; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008800 } /* Comment.Preproc */
.highlight .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BB4444 } /* Literal.String */
.highlight .na { color: #BB4444 } /* Name.Attribute */
.highlight .nb { color: #AA22FF } /* Name.Builtin */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #00A000 } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #B8860B } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BB4444 } /* Literal.String.Affix */
.highlight .sb { color: #BB4444 } /* Literal.String.Backtick */
.highlight .sc { color: #BB4444 } /* Literal.String.Char */
.highlight .dl { color: #BB4444 } /* Literal.String.Delimiter */
.highlight .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BB4444 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BB4444 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BB4444 } /* Literal.String.Single */
.highlight .ss { color: #B8860B } /* Literal.String.Symbol */
.highlight .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight .fm { color: #00A000 } /* Name.Function.Magic */
.highlight .vc { color: #B8860B } /* Name.Variable.Class */
.highlight .vg { color: #B8860B } /* Name.Variable.Global */
.highlight .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight .vm { color: #B8860B } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
